@model LegalAndGeneralConsultantCRM.Models.Universiies.Scholarship



<div class="main-panel">
    <div class="content-wrapper">
        @if (TempData["SuccessMessage"] != null)
        {
            <script>
                // Display the success message as a popup alert
                $(document).ready(function () {
                    alert('@TempData["SuccessMessage"]');
                });
            </script>
        }
        <div class="row justify-content-center">
            <!-- Centering the form -->
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Add Scholarship</h4>

                        <form class="forms-sample" asp-controller="University" asp-action="AddScholarship" method="post" asp-area="Admin">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputName1">University Name</label>
                                        <select class="form-control" asp-for="UniversityId" required>
                                        <option value="">Select a university</option>
                                        @foreach (var uni in ViewBag.Uni)
                                        {
                                            <option value="@uni.UniversityId">@uni.Name</option>
                                        }
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputName1">Course Name</label>
                                        <select class="form-control" asp-for="CourseId" required>
                                            <option value="">Select Course</option>
                                            @foreach (var uni in ViewBag.Courses)
                                            {
                                                <option value="@uni.CourseId">@uni.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputName1">Scholarship Name</label>
                                        <input type="text" class="form-control" asp-for="Name" placeholder="Scholarship Name">

                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputName1">Application Deadline  </label>
                                        <input type="date" class="form-control" asp-for="ApplicationDeadline" placeholder="Scholarship Name">

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="exampleInputName1">Eligibility Criteria</label>
                                        <textarea type="text" class="form-control" asp-for="EligibilityCriteria" placeholder=""></textarea>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary mr-2">Submit</button>
                            <button class="btn btn-light">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
