@using LegalAndGeneralConsultantCRM.Models.Universiies
@model IEnumerable<LegalAndGeneralConsultantCRM.ViewModels.DomainViewModel>
@{
    ViewBag.Title = "Domain List";
}
<!-- Include Toastr CSS and JS, jQuery, FontAwesome, and SheetJS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.0/xlsx.full.min.js"></script> <!-- Add this for SheetJS -->
<div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="container-full">
        <!-- Main content -->
        <section class="content">
            <div class="content-header">
                <div class="box-header with-border">
                    <h3 class="box-title">Domain Summary</h3>
                    <div class="float-right">

                        <div class="mb-3 d-flex justify-content-end">
                            <a class="btn float-end btn-primary" href="/Admin/University/AddUniversity">
                                <i class="bi bi-plus-circle"></i>&nbsp;Add New Domain
                            </a>
                        </div>
                        <!-- Add Export Button -->
                        <div class="mb-3 d-flex justify-content-end">
                            <button id="exportBtn" class="btn btn-success">
                                <i class="fa fa-download"></i> Export to Excel
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="box-body">
                    <div class="card">
                        <div class="card-header">
                            <h5>Search Filters</h5>
                        </div>
                        <div class="card-body">
                            <form id="filterForm">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="firstNameFilter">Domain Name</label>
                                            <input type="text" class="form-control" id="firstNameFilter" placeholder=" Domain Name" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="sourceFilter">University Name</label>
                                            <input type="text" class="form-control" id="sourceFilter" placeholder="University Name" />
                                        </div>
                                    </div>


                                </div>

                            </form>
                        </div>
                    </div>
                    <table id="domainTable" class="table table-bordered table-striped">
                        <thead style="background-color: rgb(78, 9, 115); color: white;">
                            <tr>
                                <th>Domain Name</th>
                                <th>University Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var domain in Model)
                            {
                                <tr>
                                    <td>@domain.DomainNme</td>
                                    <td>@domain.UniversityName</td>
                                    <td>

                                        <button style="padding: 12px; margin-right: 5px; background-color: rgb(78, 9, 115); color:white;" class="btn " data-toggle="modal" data-target="#editDomainModal_@domain.DomainId">
                                            <i class="bi bi-pencil" style="margin-right: 5px;"></i>
                                        </button>
                                        <button style="padding: 12px; margin-right: 5px;" class="btn btn-danger delete-btn" data-toggle="modal" data-target="#deleteDomainModal_@domain.DomainId">
                                            <i class="bi bi-trash" style="margin-right: 3px;"></i>
                                        </button>
                                    </td>
                                </tr>

                                <!-- Modal for Editing Domain -->
                                <div class="modal fade" id="editDomainModal_@domain.DomainId" tabindex="-1" role="dialog" aria-labelledby="editDomainModalLabel_@domain.DomainId" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <form asp-action="EditDomain" method="post">
                                                <input type="hidden" name="DomainId" value="@domain.DomainId" />
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="editDomainModalLabel_@domain.DomainId">Edit Domain</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label for="DomainNme">Domain Name</label>
                                                        <input type="text" class="form-control" name="DomainNme" value="@domain.DomainNme" required />
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="UniversityID">Select University</label>
                                                        <select class="form-control" name="UniversityID" required>
                                                            <option value="">Select University</option>
                                                            @foreach (var university in ViewBag.Universities as List<University>)
                                                            {
                                                                <option value="@university.UniversityId">@university.Name</option>
                                                            }
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary">Save Changes</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal for Deleting Domain -->
                                <div class="modal fade" id="deleteDomainModal_@domain.DomainId" tabindex="-1" role="dialog" aria-labelledby="deleteDomainModalLabel_@domain.DomainId" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <form asp-action="DeleteDomain" method="post">
                                                <input type="hidden" name="DomainId" value="@domain.DomainId" />
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteDomainModalLabel_@domain.DomainId">Delete Domain</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Are you sure you want to delete the domain "<strong>@domain.DomainNme</strong>"?</p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-danger">Delete</button>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>

<!-- Modal for Adding Domain -->
<div class="modal fade" id="addDomainModal" tabindex="-1" role="dialog" aria-labelledby="addDomainModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-action="AddDomain" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="addDomainModalLabel">Add New Domain</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="DomainNme">Domain Name</label>
                        <input type="text" class="form-control" name="DomainNme" required />
                    </div>
                    <div class="form-group">
                        <label for="UniversityID">Select University</label>
                        <select class="form-control" name="UniversityID" required>
                            <option value="">Select University</option>
                            @foreach (var university in ViewBag.Universities as List<University>)
                            {
                                <option value="@university.UniversityId">@university.Name</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Domain</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" />

    <script>
        $(document).ready(function () {
            // Initialize DataTable
           var table =  $('#domainTable').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true
            });

            // Filter by First Name
            $('#firstNameFilter').on('keyup', function () {
                table.column(0).search(this.value).draw();
            });
            // Filter by Source
            $('#sourceFilter').on('keyup', function () {
                table.column(1).search(this.value).draw();
            });

            // When modals are closed, reset the forms
            $('#addDomainModal, .modal').on('hidden.bs.modal', function () {
                $(this).find('form')[0].reset();
            });

            // Export table to Excel (first 2 columns)
            $('#exportBtn').click(function () {
                var tableData = [];
                var headers = ['DomainName', 'UniversityName'];

                // Extract first 2 columns
                $('#domainTable thead tr th').each(function (index) {
                    if (index < 2) {
                        headers.push($(this).text());
                    }
                });

                tableData.push(headers);

                // Extract data from each row
                $('#domainTable tbody tr').each(function () {
                    var rowData = [];
                    $(this).find('td').each(function (index) {
                        if (index < 2) {
                            rowData.push($(this).text().trim());
                        }
                    });
                    tableData.push(rowData);
                });

                // Create worksheet and download
                var ws = XLSX.utils.aoa_to_sheet(tableData);
                var wb = XLSX.utils.book_new();
                XLSX.utils.book_append_sheet(wb, ws, "Domain");

                // Export to file
                XLSX.writeFile(wb, "Domains.xlsx");
            });

        });
    </script>
}
