@model LegalAndGeneralConsultantCRM.ViewModels.Employee.EmployeeRegisterViewModel
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">


<div class="content-wrapper">
    <div class="content-wrapper-before"></div>
    <div class="container-full">
        <!-- Main content -->
        <section class="content">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <div class="w-p100 d-md-flex align-items-center justify-content-between">
                        <h3 class="page-title">Change Password</h3>
                        <div class="d-inline-block align-items-center">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#"> </a></li>
                                    <li class="breadcrumb-item" aria-current="page">Change Password</li>
                                    <li class="breadcrumb-item active" aria-current="page">Password</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h4 class="box-title"></h4>
                        </div>

                        @if (TempData["ErrorMessage"] != null)
                        {
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <div class="alert alert-danger alert-dismissible fade show text-center mt-3" role="alert">
                                        <strong>Error!</strong> @TempData["ErrorMessage"]
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        }

                        @if (TempData["SuccessMessage"] != null)
                        {
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <div class="alert alert-success alert-dismissible fade show text-center mt-3" role="alert">
                                        <strong>Success!</strong> @TempData["SuccessMessage"]
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        }

                        <!-- /.box-header -->
                        <form class="form" asp-controller="Employee" asp-action="ChangePassword" method="post" asp-area="Admin">
                            <div class="box-body">
                                <hr class="my-15">
                                <div class="p-5" style="background-color:#ECEEF7;padding:20px!important; border-radius:10px;">
                                    <div class="row">
                                        <input type="hidden" asp-for="Id" value="@ViewBag.UserId" required>

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="newPassword" class="form-label">New Password</label>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text bg-transparent"><i class="ti-lock"></i></span>
                                                    </div>
                                                    <input type="password" asp-for="Password" id="newPassword" class="form-control pl-15 bg-transparent" placeholder="New Password" required>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text bg-transparent" onclick="togglePassword('newPassword', 'toggleIconNew')" style="cursor: pointer;">
                                                            <i id="toggleIconNew" class="fa fa-eye-slash"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <span asp-validation-for="Password" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="confirmPassword" class="form-label">Confirm Password</label>
                                                <div class="input-group mb-3">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text bg-transparent"><i class="ti-lock"></i></span>
                                                    </div>
                                                    <input type="password" asp-for="ConfirmPassword" id="confirmPassword" class="form-control pl-15 bg-transparent" placeholder="Confirm Password" required>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text bg-transparent" onclick="togglePassword('confirmPassword', 'toggleIconConfirm')" style="cursor: pointer;">
                                                            <i id="toggleIconConfirm" class="fa fa-eye-slash"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <a href="/Admin/Employee/User" class="btn btn-rounded btn-warning btn-outline mr-1">
                                    <i class="ti-trash"></i> Cancel
                                </a>
                                <button type="submit" class="btn btn-rounded btn-primary btn-outline">
                                    <i class="ti-save-alt"></i> Save
                                </button>
                            </div>
                        </form>
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>


@section Scripts {

    <script>
        function togglePassword(fieldId, iconId) {
            var passwordField = document.getElementById(fieldId);
            var toggleIcon = document.getElementById(iconId);

            if (passwordField.type === 'password') {
                passwordField.type = 'text';
                toggleIcon.classList.remove('fa-eye-slash');
                toggleIcon.classList.add('fa-eye');
            } else {
                passwordField.type = 'password';
                toggleIcon.classList.remove('fa-eye');
                toggleIcon.classList.add('fa-eye-slash');
            }
        }
    </script>

    <script>
        $(document).ready(function () {
        @if (TempData["SuccessMessage"] != null)
        {
            <text>
                    toastr.success('@TempData["SuccessMessage"]');
            </text>
        }
        @if (TempData["ErrorMessage"] != null)
        {
            <text>
                    toastr.error('@TempData["ErrorMessage"]');
            </text>
        }
                    });
    </script>

}
